body {
  margin: 0px;
}

/* Border box for all elements */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.root {
  align-items: stretch;
  background-color: rgb(33, 37, 43);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
}

.header {
  align-items: center;
  color: #abb2bf;
  display: flex;
  margin-bottom: 8px;
}

.headerBrand {
  display: flex;
  margin-left: 12px;
  margin-right: 24px;
}

.headerTitle {
  color: #fafafa;
  font: 600 28px "Open Sans";
}

.headerLogo {
  height: 40px;
  margin-right: 16px;
  width: 63px;
}

.button.headerButton,
.button.headerSplitRightButton {
  background-color: #e5e5e5;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}

.button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

.button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.headerButton {
  border-radius: 4px;
  font: 600 16px "Open Sans";
  margin-right: 8px;
}

.headerSplitDropdownButton {
  display: flex;
  margin-right: 8px;
}

.headerButtonElement {
  background-color: lightblue;
  border: none;
  cursor: pointer;
  display: block;
  font: 600 16px "Open Sans";
  height: 32px;
  padding: 0 20px;
}

.button.headerSplitLeftButton {
  background-color: #00a182;
  border-color: transparent;
  border-radius: 4px 0 0 4px;
  color: #fafafa;
  font: 600 16px "Open Sans";
}

.headerSplitRightButton {
  border-radius: 0 4px 4px 0;
  font: 600 16px "Open Sans";
}

.button.headerEllipsisButtonElement {
  padding: 0 12px;
}

.playIcon {
  fill: white;
  height: 12px;
  margin-left: 12px;
  width: 12px;
}

.gearIcon {
  fill: rgba(0, 0, 0, 0.7);
  height: 16px;
  margin-left: 12px;
  width: 16px;
}

.panes {
  display: flex;
  align-items: stretch;
}

.resultsPane {
  background-color: #282c34;
  padding: 8px;
  position: relative;
}

.resultsPaneOverlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner.resultsPaneSpinner {
  border-width: 4px;
  height: 36px;
  position: absolute;
  right: 8px;
  top: -53px;
  width: 36px;
}

.editorPane {
  background-color: #282c34;
}

.divider {
  align-items: center;
  cursor: col-resize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4px;
}

.mtkcontrol {
  position: absolute;
  visibility: hidden;
}

/* Spinner */

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinner {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
